{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-3xl mx-auto">
        <div class="container mx-auto mt-4">
            <h1 class="text-2xl font-semibold">Update Profile</h1>
            {% if messages %}
                <ul class="bg-green-200 text-green-700 border border-green-400 rounded p-2 mt-2">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" class="mt-4">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Update Profile</button>
            </form>
        </div>
    </div>
{% endblock %}
